body{
    font-size: 18px;

    margin-top: 150px;
margin-left: 35%;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    background: rgb(148, 148, 148);
}
input{
    margin: 10px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
}
.btninp{
    margin: 7px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    background: black;
    color: whitesmoke;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.5s ease;
}


.btninp:hover{
    transform: scale(1.1);
}
button{
    margin: 7px;
    height: 35px;
    border: 2px solid black;
    font-size: 18px;
    border-radius: 5px;
    background: black;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover{
    transform: scale(1.1);
}
img{
    margin-top: 100px;
}
.lll{
    width: 320px;
    padding: 0 10px 0 10px ;
    height: 370px;
    display: flex;
    flex-direction: column;
    
}
.out{
    width: 300px;
    height: 370px;
 vertical-align: middle;
    background: black;
}
#output{
    color: whitesmoke;
    font-size: 35px;
    text-align: left;
    margin-top: 70px;
    padding-left: 15px;
    font-weight: 900;
    transition: all 0.5s ease-in;

}
main{
    display: flex;
   
    width: 620px;
    height: auto ;
    background: white;
    border-radius: 15px;
}
.color{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    
}
#green{
    background: green;
}
#purp{
    background: purple;
}
#yellow{
    background: yellow;
}